<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать сотрудника"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<!--    <header th:insert="blocks/header :: header"></header>-->
<div th:fragment="header">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Трамвайный парк</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/ohranaTruda">Охрана труда</a>
            <a class="btn btn-outline-primary" href="/person/add">Добавить человека</a>
        </nav>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Sign Out"/>
        </form>
        <div id="extwaiokist" style="display:none" v="pdbbg" q="cd573aec" c="76.88" i="106" u="29.70" s="08132022" d="1" w="false" m="BMe="><div id="extwaiimpotscp" style="display:none" v="pdbbg" q="cd573aec" c="76.88" i="106" u="29.70" s="08132022" d="1" w="false" m="BMe=" vn="1gtra"></div></div></div>
</div>

<div class="container mt-5" mb-5>
    <h1>Редактировать сотрудника</h1>
    <div th:each="el : ${person}">
    <form method="post">
        <input type="text" th:value="${el.surname}" name="surname" placeholder="Введите фамилию человека" class="form-control"><br>
        <input type="text" th:value="${el.name}" name="name" placeholder="Введите имя человека" class="form-control"><br>
        <input type="text" th:value="${el.patronymic}" name="patronymic" placeholder="Введите отчество человека" class="form-control"><br>
        <input type="text" th:value="${el.structSubdivision}" name="structSubdivision" placeholder="Введите структурное подразделение человека" class="form-control"><br>
        <input type="text" th:value="${el.profession}" name="profession" placeholder="Введите профессию человека" class="form-control"><br>
        <input type="text" th:value="${el.tab}" name="patronymic" placeholder="Введите табельный человека" class="form-control"><br>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>