<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Сотрудники"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Трамвайный парк</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/ohranaTruda">Охрана труда</a>
            <a class="btn btn-outline-primary" href="/person/add">Добавить человека</a>
            <a class="btn btn-outline-primary" href="/structsubdivision/add">Добавить структурное подразделение</a>
         </nav>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Sign Out"/>
        </form>
        <div id="extwaiokist" style="display:none" v="pdbbg" q="cd573aec" c="76.88" i="106" u="29.70" s="08132022" d="1" w="false" m="BMe="><div id="extwaiimpotscp" style="display:none" v="pdbbg" q="cd573aec" c="76.88" i="106" u="29.70" s="08132022" d="1" w="false" m="BMe=" vn="1gtra"></div></div></div>
</div>

    <div class="container mt-5">
        <h1>Список сотрудников</h1>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Поиск" class="form-control">
            <button type="submit" class="btn btn-success">Найти</button>
        </form>
        <table class="table table-striped">
            <div th:each="el : ${persons}" class="ui-icon-alert alert-into mt-2">

            <tbody>

                <th scope="row" th:text="${el.surname} "></th>
                <th scope="row"  th:text="${el.name}"></td>
                <th scope="row" th:text="${el.patronymic}"></td>
                <th scope="row" th:text="${el.structSubdivision}"></td>
                <th scope="row" th:text="${el.profession}"></td>
                <th scope="row" th:text="${el.tab}"></td>
                <td><a th:href="'/person/' + ${el.id}" class="btn btn-warning">Просмотр</a></td>

            </tbody>
            </div>
        </table>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
    </body>
</html>